<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Welcome to the Info Page!</h1>
        <p>This is a test page to try out our new info route.</p>
    </body>
</html>
